.container {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: $color-gray-light;
	margin-top: 50px;
	box-shadow: $box-shadow-small;

	@include breakpoint('xlarge') {
		width: 800px;
	}
}