// The following removes various default styling on standard HTML elements

// Sort alphabetically

a {
	color: unset;
	text-decoration: unset;
}

body {
	margin: 0;
}

h1 {
	font-size: unset;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight: unset;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}