<h1>Top Stories</h1>

<ng-container *ngFor="let story of stories">
	<a [href]="story.url">
		<div class="card">
			<div class="header">
				<div class="image" [style.background-image]="'url(assets/images/' + story.image + ')'"></div>
				<div class="score">
					<div>
						<img src="assets/svgs/star.svg" />
						<p>{{story.score}}</p>
					</div>
				</div>
			</div>
			<div class="footer">
				<h1>{{story.title}}</h1>
				<div class="date-line">
					{{story.date | date:'medium'}}
				</div>
				<div class="by-line">
					Posted by <a [routerLink]="'/user/'+story.user.name">{{story.user.name}}</a>
					<span class="karma">
						
						♥ {{story.user.karma}}
					</span>
				</div>
			</div>
		</div>
	</a>
</ng-container>