$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #dbdbdb;
$color-gray-medium: #7e7e7e;
$color-gray-dark: #414141;
$color-blue: #0640cf;

$color-black-transparent: rgba(0, 0, 0, .4);

$box-shadow-small: 0 0 3px $color-black;
$box-shadow-large: 0 0 10px $color-black;