@font-face {
	font-family: 'font1';
	font-display: swap;
	src: url('../../assets/fonts/1.woff2');
}

@font-face {
	font-family: 'font2';
	font-display: swap;
	src: url('../../assets/fonts/2.woff2');
}

$font-heavy: 'font2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-light: 'font1', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$font-size-large: 28px;
$font-size-medium: 20px;
$font-size-small: 14px;